<p>
Dear {{username}},
<p>
Welcome ro grocery60 online !!! Your gateway for connecting to your customers.

Your registration details : <br>
User Name : {{username}} <br>
Password : {{password}} <br>
<br>

Please login to Grocery60 Store admin portal with provided credentials. You will receive email from Grocery 60 team to
    complete your terms and conditions for payment.

<p>
Stay safe and healthy !!!
<p>
Thank you for registering to our services !
<p>
Grocery60 Team <br>
    Please feel free contact Grocery Support Team at support@grocery60.online for any questions or concerns.